{% extends "base.html" %}

{% block content %}
<h3>Dėstytojai</h3>
{% if visi_destytojai %}
{% for destytojas in visi_destytojai %}
<hr>
<p>{{destytojas.vardas}} {{destytojas.pavarde}}</p>

{% if destytojas.studentai %}
<p>Studentai:</p>
{% for studentas in destytojas.studentai %}
<p>{{studentas.vardas}} {{studentas.pavarde}}</p>
{% endfor %}
{% endif %}
{% if destytojas.paskaitos %}
<p>Paskaitos:</p>
{% for paskaita in destytojas.paskaitos %}
<p>{{paskaita.vardas}} {{paskaita.savaites_diena}}</p>
{% endfor %}
{% endif %}








{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('new_teacher')}}">Naujas destytojas</a></p>

{% endblock %}