{% extends "base.html" %}

{% block content %}

{% if visi_destytojai %}
{% for destytojas in visi_destytojai %}
<hr>
<p>{{destytojas.vardas}}</p>
<p>{{destytojas.pavarde}}</p>
{% if destytojas.studentai %}
<p>Studentai:</p>
{% for studentas in destytojas.studentai %}
<p>{{studentas.vardas}} {{studentas.pavarde}}</p>
{% endfor %}
{% endif %}
{% if destytojas.paskaitos %}
<p>Paskaitos:</p>
{% for paskaita in destytojas.paskaitos %}
<p>{{paskaita.vardas}} {{paskaita.savaites_diena}}</p>
{% endfor %}
{% endif %}








{% endfor %}
{% endif %}
<hr>
<p><a href="{{ 123}}">Naujas destytojas</a></p>

{% endblock %}