{% extends "base.html" %}

{% block content %}
<h3>Paskaitos</h3>
{% if visos_paskaitos %}
{% for paskaita in visos_paskaitos %}
<hr>
<p>{{paskaita.vardas}} {{paskaita.savaites_diena}}</p>

{% if paskaita.studentai %}
<p>Studentai:</p>
{% for studentas in paskaita.studentai %}
<p>{{studentas.vardas}} {{studentas.pavarde}}</p>
{% endfor %}
{% endif %}
{% if paskaita.destytojas %}
<p>Destytojas:</p>

<p>{{paskaita.destytojas.vardas}} {{paskaita.destytojas.pavarde}}</p>

{% endif %}








{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('new_lecture')}}">Nauja paskaita</a></p>

{% endblock %}